<div class="carousel">
  <blockquote class="twitter-tweet"data-lang="en"><p lang="no" dir="ltr">Hello Twitter! <a href="https://twitter.com/hashtag/myfirstTweet?src=hash&amp;ref_src=twsrc%5Etfw">#myfirstTweet</a></p>&mdash; 101 MEDIA (@1o1_MEDIA) <a href="https://twitter.com/1o1_MEDIA/status/1003781542622171137?ref_src=twsrc%5Etfw">June 4, 2018</a></blockquote>


  <!--<img id="img" src="img/carousel/img1.jpg">-->
  <!--<img src="img/social/instagram.png">-->
  <!--<img src="img/social/facebook.png">-->

</div>
