<div class="header">

<div class="left">
  <img src="img/logos/101 Media logo.png" alt="">
</div>

<div class="right">
  <input type="search" placeholder="Search 101media.com">
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Gallery</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</div>

</div>
