<ul>
  <li><a href="#"><img class="social" src="img/social/facebook.png"></a></li>
  <li><a href="#"><img class="social" src="img/social/twitter.png"></a></li>
  <li><a href="#"><img class="social" src="img/social/instagram.png"></a></li>
  <li><a href="#"><img class="social" src="img/social/snapchat.png"></a></li>
  <li><a href="#"><img class="social" src="img/social/youtube.png"></a></li>
  <li><a href="#"><img class="social" src="img/social/soundcloud.png"></a></li>
</ul>
