<ul>
  <li><a href="https://www.facebook.com/101-MEDIA-559043561104206/"><img class="social" src="img/social/facebook.png"></a></li>
  <li><a href="https://twitter.com/1o1_MEDIA"><img class="social" src="img/social/twitter.png"></a></li>
  <li><a href="https://www.instagram.com/101_media/?hl=en"><img class="social" src="img/social/instagram.png"></a></li>
  <li><a href="#"><img class="social" src="img/social/snapchat.png"></a></li>
  <li><a href="https://www.youtube.com/channel/UCW3e5srwh6bmFj5RVUvaawQ"><img class="social" src="img/social/youtube.png"></a></li>
  <li><a href="https://soundcloud.com/user-406290458"><img class="social" src="img/social/soundcloud.png"></a></li>
</ul>
