<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="css/social.css">
  <link rel="stylesheet" href="/css/bar.css">
  <link rel="stylesheet" href="/css/carousel.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/posts.css">
  <title>101Media</title>
</head>
<body>
  <%- include partials/header.ejs %>
  <%- include partials/social.ejs %>
  <div class="bar">
    <h1>UPDATES</h1>
  </div>
<%- include partials/carousel.ejs %>
  <div class="bar">
    <h1>UP COMING</h1>
  </div>
  <% include partials/posts.ejs %>
  <%- include partials/footer.ejs %>
  <script src="js/slider.js"></script>
</body>
</html>
