@font-face {
  font-family:MyriadPro;
  src: url("../fonts/MyriadPro-Regular.otf");
}

@font-face {
  font-family:MyriadProLight;
  src: url("../fonts/myriadpro-light.otf");
}

::-webkit-input-placeholder {
   text-align: center;
   color: #4d7290;
   font-size: 15px;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
   color: #4d7290;
   font-size: 15px;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
   color: #4d7290;
   font-size: 15px;
}

:-ms-input-placeholder {
   text-align: center;
   color: #4d7290;
   font-size: 15px;
}

.header{
  background:#d5be93;
  width:100%;
}

.header .left{
  width:80%;
  margin:0 auto;
}

.header .left img{
  width:50%;
  margin:0 25%;
  height: 110px;
}

.header .right{
  width:80%;
  margin: 0 auto;
}

.right input[type="search"]{
  width: 100%;
  outline:none;
  border: 3px solid #4d7290;
  background: none;
  border-radius: 26px;
  padding 0.5% 0%;
}

.header .right ul{
  width:100%;
  margin:4% auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
}


.header .right ul li{
  list-style-type: none;
  text-align: center;
  background: #4d7290;
  list-style-type: none;
  padding: 0% 1.9%;
  margin-bottom: 10px;
  border-radius: 35px;
  }

.header .right ul li a{
  text-decoration: none;
  font-family:MyriadPro;
  color: #d5be93;
  font-family:"MyriadPro";
}
