.header{
  background:yellow;
  width:100%;
}

.header .left{
  width:80%;
  margin:0 auto;
}

.header .left img{
  width:50%;
  margin:0 25%;
  height: 50px;
}

.header .right{
  width:80%;
  margin: 0 auto;
}

.right input[type="search"]{
  width: 100%;
  outline:none;
  border-color: blue;
}

.header .right ul{
  width:80%;
  margin:0 auto;
}


.header .right ul li{
  list-style-type: none;
}

.header .right ul li a{
  text-decoration: none;
}
